{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Joe's Store</title>
        <link rel="stylesheet" href="{% static 'home/project_stylesheet.css' %}"/>
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
    <body>
    {% include "home/navbar.html" %}
        <div>
            <h1>About Joe's</h1>
            <p>Joe's was established in 2023, by a team of awesome programmers, and thrives to be the pitstop for all your needs!</p>
        </div> 
        <div>
            <h1>Contact Us</h1>
            <p>Location: 123 E. Plaza St.</p>
            <p>Phone Number: (555)555-5555</p>
            <p>Email:<a> joesmarket@email.com</a></p>
        </div> 
    </body>
</html>