{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Joe's Store</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'home/index-style.css' %}" />
</head>

<body>
  {% include "home/navbar.html" %}
  <div class="all-products">
    <div class="product">
      <img src="https://t3.ftcdn.net/jpg/03/45/05/92/360_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg">
      <div class="product-info">
        <h4 class="product-title ">Product Name
        </h4>
        <p class="product-price ">$12.99</p>
        <p class="product-desc ">Product Description</p>
        <a class="product-btn" href="#">Add to Cart</a>
      </div>
    </div>
    <!--  -->
    <div class="product">
      <img src="https://t3.ftcdn.net/jpg/03/45/05/92/360_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg">
      <div class="product-info">
        <h4 class="product-title ">Product Name
        </h4>
        <p class="product-price ">$12.99</p>
        <p class="product-desc ">Product Description</p>
        <a class="product-btn" href="#">Add to Cart</a>
      </div>
    </div>
    <!--  -->
    <div class="product">
      <img src="https://t3.ftcdn.net/jpg/03/45/05/92/360_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg">
      <div class="product-info">
        <h4 class="product-title ">Product Name
        </h4>
        <p class="product-price ">$12.99</p>
        <p class="product-desc ">Product Description</p>
        <a class="product-btn" href="#">Add to Cart</a>
      </div>
    </div>
    <!--  -->
    <div class="product">
      <img src="https://t3.ftcdn.net/jpg/03/45/05/92/360_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg">
      <div class="product-info">
        <h4 class="product-title ">Product Name
        </h4>
        <p class="product-price ">$12.99</p>
        <p class="product-desc ">Product Description</p>
        <a class="product-btn" href="#">Add to Cart</a>
      </div>
    </div>
    <!--  -->
    <div class="product">
      <img src="https://t3.ftcdn.net/jpg/03/45/05/92/360_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg">
      <div class="product-info">
        <h4 class="product-title ">Product Name
        </h4>
        <p class="product-price ">$12.99</p>
        <p class="product-desc ">Product Description</p>
        <a class="product-btn" href="#">Add to Cart</a>
      </div>
    </div>
    <!--  -->
    <div class="product">
      <img src="https://t3.ftcdn.net/jpg/03/45/05/92/360_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg">
      <div class="product-info">
        <h4 class="product-title ">Product Name
        </h4>
        <p class="product-price ">$12.99</p>
        <p class="product-desc ">Product Description</p>
        <a class="product-btn" href="#">Add to Cart</a>
      </div>
    </div>
  </div>
</body>

</html>