{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Joe's Store</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'home/index-style.css' %}" />
</head>

<body>
  {% include "home/navbar.html" %}

  <div class="all-products">
    {% for item in item_list %}
      <div class="product">
       <img src="https://t3.ftcdn.net/jpg/03/45/05/92/360_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg">
       <div class="product-info">
         <a href="item/{{ item.id }}"><h4 class="product-title ">{{ item.ItemName }}</h4></a>
         <p class="product-price ">Price: ${{ item.SalePrice }}</p>
         <a class="product-desc " href="#">View Description</a>
         <a class="product-btn" href="#">Add to Cart</a>
       </div>
     </div>
    {% endfor %}
    <!--  -->
  </div>
</body>

</html>
