{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Item Description Page</title>
    <link rel="stylesheet" href="{% static 'home/imagepage-style.css' %}" />
    <link rel="stylesheet" href="{% static 'home/navbar-style.css' %}" />
  </head>
  <body>
    {% include "home/navbar.html" %}
    <main>
      <div class="card">
        <img src="{{ item.image_url }}" alt="{{ item.name }}" />
        <h1>{{ item.ItemName }}</h1>
        <p>{{ item.ItemDescription }}</p>
        <h2>Price: ${{ item.SalePrice }}</h2>
        <p>Quantity: {{ item.inStock }}</p>
      </div>
    </main>
  </body>
</html>

