{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Item Description Page</title>
    <link rel="stylesheet" href="{% static 'home/project_stylesheet.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/indexstyle.css' %}" />
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    {% include "home/navbar.html" %}
    <br /><br />
    <main>  
      <h1 style="font-size: 28px;">{{ item.ItemName }}</h1>
      <div class="product" style="margin: auto;">
       <img src="{{ item.itemImage }}">
       <div class="product-info">
        <p class="product-desc " style="font-size: 1rem">Description: {{ item.ItemDiscription }}</p>
        <p class="product-cat" style="font-size: 1rem">Category: {{ item.ProductType }}</p>
        <p class="product-price " style="font-size: 1rem">Price: ${{ item.SalePrice }}</p>
        <p class="product-quan" style="font-size: 1rem">Quantity: {{ item.InStock }}</p>
        <form method="POST" action="{% url 'home:item' item.id %}">
            {% csrf_token %}
            <button type="submit" class="product-btn">Add to Cart</button>
        </form>
       </div>
      </div>
    </main>
  </body>
</html>

