{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>The 411 Marketplace</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'home/index_style.css' %}" />
    <link rel="stylesheet" href="{% static 'home/project_stylesheet.css' %}"/>
</head>

<body>
  {% include "home/navbar.html" %}
  <div class="all-products">
    {% for item in item_list %}
      <div class="product">
       <img src="{{ item.itemImage }}">
       <div class="product-info">
         <a href="{% url 'home:item' item.id %}"><h4 class="product-title ">{{ item.ItemName }}</h4></a>
         <p class="product-price ">Price: ${{ item.SalePrice }}</p>
         <a class="product-desc " href="#">View Description</a>
         <form method="POST" action="{% url 'home:main' item.id %}">
             {% csrf_token %}
             <button type="submit" class="product-btn">Add to Cart</button>
         </form>
       </div>
     </div>
    {% endfor %}
    <!--  -->
  </div>
</body>

</html>
