{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'home/navbar-style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <h1>Joe's</h1>
        <ul>
          {% if user.is_superuser %}
            <li>
              <a href="{% url 'home:index' %}">Home</a>
            </li>
            <li><a href="{% url 'home:newitem' %}">New Item</a></li>
            <li><a href="#">{{ user.username }}</a></li>
            <li><a class="login-btn" href="{% url 'logout' %}">Log out</a>

          {% elif user.is_authenticated %}
            <li>
              <a href="{% url 'home:index' %}">Home</a>
            </li>
            <li><a href="#">Order History</a></li>
            <li>
              <a href="{% url 'home:shopcart' %}"
                ><span class="material-symbols-outlined"> shopping_cart </span></a
              >
            </li>
            <li><a href="#">{{ user.username }}</a></li>
            <p>  </p></li>
            <li><a class="login-btn" href="{% url 'logout' %}">Log out</a>
          {% else %} 
          <li>
            <a href="{% url 'home:index' %}">Home</a>
          </li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li>
            <a href="{% url 'home:shopcart' %}"
              ><span class="material-symbols-outlined"> shopping_cart </span></a
            >
          </li>
          <li><a class="login-btn" href="{% url 'home:signup' %}">Sign up</a></li>
          <li><a class="login-btn" href="{% url 'login' %}">Log in</a><li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <footer>
      <p>Need Help? Click <a href="{% url 'home:about' %}">here</a></p>
    </footer>
  </body>
</html>
