{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>John's • Log in</title>
  <link rel="stylesheet" href="{% static 'home/project_stylesheet.css' %}" />
  <link rel="stylesheet" href="{% static 'home/newitem_style.css' %}" />
</head>

<body>
  {% include "home/navbar.html" %}
  <div class="container">
    <h1>New Item</h1>
    <div class="content">
      <form action="newitemadd" method="POST">        
        {% csrf_token %} <!-- Protects against cross site request forgeries https://docs.djangoproject.com/en/3.1/ref/csrf/ -->
        <div>
          <div class="row">
            <div class="column">
              <span class="label">Item ID</span>
              <input type="text" name="itemID" required>
            </div>
            <div class="column">
              <span class="label">Supplier ID</span>
              <input type="text" name="supplierID" required>
            </div>
          </div>          
          <!--  -->
          <div class="row">
            <div class="column">
              <span class="label">Item Name</span>
              <input type="text" name="itemName" required>
            </div>
            <div class="column">
              <span class="label">In Stock</span>
              <input type="text" name="inStock" required>
            </div>
          </div>
          <!--  -->
          <div class="row">
            <div class="column">
              <span class="label">Item Price</span>
              <input  type="text" name="itemPrice" required>
            </div>
            <div class="column">
              <span class="label">Item Markup</span>
              <input  type="text" name="itemMarkup" required>
            </div>
          </div>
          <!--  -->
          <div class="row"> 
            <div class="column">
              <span class="label">Price to Order</span>
              <input type="text" name="priceToOrder" required>
            </div>    
            <div class="column">
            </div>      
          </div>
          <!--  -->
          <div class="row">
            <div class="column">
              <span class="label">Item Description</span>
              <textarea id="item-description" name="itemDescription"></textarea>
            </div>
          </div>
          <!--  -->
          <div class="row">
            <div class="column">
              <button class="btn clear" type="reset">Clear</button>
            </div>
            <div class="column">
              <button class="btn add_item" type="submit">Add Item</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</body>

</html>