{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>The 411 Marketplace</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'home/project_stylesheet.css' %}" />
  <link rel="stylesheet" href="{% static 'home/index_style.css' %}" />
  <link rel="stylesheet" href="{% static 'home/searchresultsstyle.css' %}" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  {% include "home/navbar.html" %}
  <div><br /><br /><br />
    <h1 id="search-title">Search Results</h1>
    <div class="all_products">
      {% for item in search_item_list %}
      <div class="product">
        <img src="{{ item.itemImage }}">
        <div class="product-info">
          <a href="{% url 'home:item' item.id %}">
            <h4 class="product-title ">{{ item.ItemName }}</h4>
          </a>
          <p class="product-price ">Price: ${{ item.SalePrice }}</p>
          <a class="product-desc " href="#">View Description</a>
          <a class="product-btn" href="#">Add to Cart</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>