{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Joe's • Sign Up</title>
    <link rel="stylesheet" href="{% static 'home/signup-style.css' %}" />
    <link rel="stylesheet" href="{% static 'home/project_stylesheet.css' %}"/>
  </head>
  <body>
    {% include "home/navbar.html" %}
    <main>
      <h1>Sign Up</h1>
      <form action="{% url 'home:signup' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Sign up</button>
      </form>
    </main>
  </body>
</html>
