{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>The 411 Marketplace • Log in</title>
  <link rel="stylesheet" href="{% static 'home/login-style.css' %}" />
  <link rel="stylesheet" href="{% static 'home/project_stylesheet.css' %}"/>
</head>
<body>
  {% include "home/navbar.html" %}
  <main>
    <h1>Customer Log In</h1>
    <form method="post">
      {% csrf_token %}
      {{form}}
      <button type="submit">Log in</button>
    </form>
    <p>Need an account? <a href="{% url 'home:signup' %}">Sign up</a></p>
    <p>Employee or Admin? <a href="{% url 'home:admin-login' %}">Log in here</a></p>
  </main>
</body>
</html>