.btn-group{
    text-align: center;
    margin-bottom: 1rem ;
    margin-top: 5rem;
}

.category-button{
    background-color: #fff;
    text-decoration: none;
    color: #2677f5;
    border: solid #2677f5 0.125rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    width: 10rem;
    font-weight: bold;
    cursor: pointer;
  }