.btn-group{
    text-align: center;
    margin-bottom: 1rem ;
    margin-top: 5rem;
}

button{
    background-color: #fff;
    /* display: inline-block; */
    text-decoration: none;
    color: #2677f5;
    /* padding: 0.5rem 2rem; */
    border: solid #2677f5 0.125rem;
    border-radius: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    /* transition: all 0.2s; */
    width: 10rem;
    font-weight: bold;
    /* text-align: center; */
    cursor: pointer;
  }