.all-products {
  font-family: "Nunito", sans-serif;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.product {
  background: #fff;
  color: #333;
  text-align: center;
  width: 17.188rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid #2677f5 0.125rem;
  border-radius: 1.2rem;
  margin: 2rem;
}

.product .product-title,
.product .product-price,
.product .product-desc,
.product .product-quan,
.product .product-cat{
  text-align: left;
  font-size: 1.125rem;
}

a:visited .product-title, .product-desc {
  color: #2677f5;
} 

.product-info h4{
    font-weight: bold;
}

.product-info p,
.product-info h4 {
  margin: 0 0;
}

.product img {
  height: 11rem;
  margin: 1rem;
  border-radius: 1rem;
}

.product-info {
  width: 70%;
}
.product-btn {
  background-color: #fff;
  display: inline-block;
  text-decoration: none;
  color: #2677f5;
  padding: 0.5rem 2rem;
  border: solid #2677f5 0.125rem;
  border-radius: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  transition: all 0.2s;
  width: 70%;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.product-btn:hover {
  background-color: cornflowerblue;
  color: white;
}

.product:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
