.container{
    display: flex;
    flex-direction: column;
    /* just for development, will be deleted */
    border: 2px solid black;
    padding: 1em;
    width: 50%;
    margin: auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .btn{
    width: 50%;
  }