/* Add these links to each HTML page to get the font and the CSS styling
<link href="project_stylesheet.css" rel="stylesheet" />
<link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> */

body {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-family: "Nunito", sans-serif;
  }

a:hover {
    text-decoration: underline;
}
  
nav {
    display: flex;
    justify-content: center;
  }
  
nav h1 {
    font-family: "Nunito", sans-serif;
  }
  
nav ul {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
  }
  
nav ul li {
    margin-right: 2rem;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
  }
  
nav ul li a {
    color: #333;
  }
  
.btn {
    color: #fff;
    background-color: #2677F5;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    border-radius: 0.4rem;
    border-color: #2677F5;
    border-style: solid;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;  
  }

.btn:hover {
    opacity: 0.6;
}

.cart-btn {
    color: #2677F5;
    background-color: white;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    border-radius: 0.4rem;
    border-color: #2677F5;
    border-style: solid;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
}

.cart-btn:hover {
    opacity: 0.6;
}
