#search-title{
    font-size: 2rem;
}

.product{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.all_products {
    font-family: "Nunito", sans-serif;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}